@font-face {
  font-family: EraserRegular;
  src: url("./EraserRegular.ttf")
}

@font-face {
  font-family: Indie Flower;
  src: url("https://fonts.googleapis.com/css2?family=Indie+Flower");
}

.home__main-container {
  width: 100maxvh;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 80% 10%; 
  background-color: beige;
}

.home__text-container--banner {
  position: absolute;
  top: 2em;
  left: 1em;
  font-family: Indie Flower;
  font-weight: 800;
  font-size: large;
}

.home__image-container--cart {
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-row-start: 1;
  margin-top: 5px;
}

.home__container-image{
  display: flex;
  flex-direction: column;
}

.home__cart--quantity {
  margin: 10px;
  font-size: xxx-large;
}

.home__button-cart {
  text-decoration: none;
}

.home__button-cart--text {
  text-decoration: none;
}

.home__button-container--logout {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  grid-column-start: 5;
  grid-row-start: 1;
}

.home__logout-button {
  background-color: beige;
  border-radius: 50%;
  margin-top: 5px;
  font-family: Indie Flower;
  font-weight: 800;
  font-size: large;
  text-shadow: 0px 0px 4px rgba(250, 250, 4, 0.8);
  box-shadow: 1px 1px 10px 7px rgba(100, 100, 100, 0.3);
  outline: 1px solid rgba(100, 100, 100, 0.05);
  border: none;
}

.home__image-container--chalkboard {
  background: url("./chalkboard.jpg");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

.home__chalkboard-text--container {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-family: EraserRegular;
}

.home__chalkboard-text--container h2 {
  text-decoration: underline;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25%;
}

.home__chalkboard-text--content {
  font-family: EraserRegular;
  position: relative;
}

.home__image-container--bottom {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-top: 50px;
  width: 95%;
}

.home__addToCart-button {
  display: flex;
  position: relative;
  left: 160px;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 25px;
  align-items: center;
}

.home__addToCart-button:active {
  transform: scale(1.2);
  box-shadow: 2px 2px black;
  background-color: rgba(86, 143, 86, 0.14);
}

.home__image--add {
  position: relative;
  align-content: center;
  top: 0px;
  left: 0px;
}

.home__button-text {
  position: realtive;
  top: 0px;
  left: 0px;
  font-family: Indie Flower;
  font-weight: 900;
  font-size: 20px;
  position: relative;
  /* left: -30px; */
  text-shadow: 2px 2px white;
  text-decoration: none;
}

.home__image--bottom {
  border-radius: 50%;
  box-shadow: 8px 8px 16px rgba(100,100,100,1);
}

.home__slider-elements {
  font-family: Indie Flower;
  font-weight: 800;
  text-align: center;
}

.home__slider-elements:focus {
  transform: scale(1.2);
  border: none;
  outline: none;
}

.home__slider-elements h2 {
  margin-bottom: 0px;
  font-size: x-large;
}

.slick-dots {
  margin: 10px;
}

.slick-dots:hover {
  transform: scale(2);
}
