@font-face {
  font-family: Indie Flower;
  src: url("https://fonts.googleapis.com/css2?family=Indie+Flower");
}


body {
  background: white;
  background: radial-gradient(circle, rgba(236, 235, 148, 0.76) 50%, rgba(255,255,255,1) 85%);
}


.effects, .home__image--bottom {
  animation: transitionDown 0.75s;
}

.splash__image--background,
.signup__image--background,
.login__image--background,
.home__image-container--chalkboard {
  animation: transitionUp 0.75s;
}


@keyframes transitionDown {
  from {
      opacity: 0;
      transform: translateY(-200px);
  }

  to {
      opacity: 1;
      transform: translateY(0deg);

  }
}

@keyframes transitionUp {
  from {
      opacity: 0;
      transform: translateY(200px);
  }

  to {
      opacity: 1;
      transform: translateY(0deg);

  }
}
