.login__image--background {
  /* margin-left: 3.3%; */
  margin-top: 10%;
  border-radius: 25px;
  box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.7);
}

.login__form-wrapper {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 15% 70% 15%;
}

.form-login {
  font-family: Indie Flower, "sans-serif";
  font-size: 1.75rem;
  font-weight: 900;
  width: 712px;
  height: 500px;
  position:relative;
  grid-column-start: 2;
  grid-row-start: 2;
}

.login__input-wrapper--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  width: 206px;
  height: 316px;
  color: black;
  margin-top: 106px;
  margin-left: 100px;
  border-radius: 15px;
  padding: 15px;
}

.form-login h2 {
  font-family: Indie Flower, "sans-serif";
  margin: 0;
  padding: 0;
  color: #000;
  margin-left: 30%;
  margin-bottom: 20px;
}


.input-wrapper {
  position: relative;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}

.login-form__input--name,
.login-form__input--password {
  font-family: Indie Flower, "sans-serif";
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.login-form__label--name {
  font-family: Indie Flower, "sans-serif";
  position: absolute;
  top: -10px;
  left: 0;
  padding: 10px 0;
  font-size: 24px;
  color: #000;
  pointer-events:none;
  transition: 0.5s;
}

.login-form__label--password {
  font-family: Indie Flower, "sans-serif";
  position: absolute;
  top: 47px;
  left: 0;
  padding: 10px 0;
  font-size: 24px;
  color: #000;
  pointer-events:none;
  transition: 0.5s;
}

.login-form__input--name:focus ~ .login-form__label--name,
.login-form__input--name:hover ~ .login-form__label--name,
.login-form__input--name:valid ~ .login-form__label--name {
  top: -30px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}

.login-form__input--password:focus ~ .login-form__label--password,
.login-form__input--password:hover ~ .login-form__label--password,
.login-form__input--password:valid ~ .login-form__label--password {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  top: 21px;
}

.login-form__button {
  font-family: Indie Flower, "sans-serif";
  font-size: 24px;
  font-weight: 600;
  width: 88px;
  height: 38px;
  margin-top: 12px;
  margin-left: 30%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
}

.login-form__button--demo {
  font-family: Indie Flower, "sans-serif";
  font-size: 24px;
  font-weight: 600;
  width: 158px;
  height: 43px;
  margin-top: 15px;
  margin-left: 12%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
}

.login__button-container--right {
  grid-column-start: 3;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__signup-button {
  background-image: url("https://p.kindpng.com/picc/s/217-2172654_text-box-border-decorative-text-box-borders-transparent.png");
  background-position: center;
  background-size: contain;
  font-family: Indie Flower;
  font-size: 2rem;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  margin-top: 3em;
  background-color: white;
  text-shadow: 0px 0px 4px rgba(250, 250, 4, 0.8);
  box-shadow: 0px 0px 30px 7px rgba(100, 100, 100, 0.3);
  outline: 1px solid rgba(100, 100, 100, 0.05);
  border: none;
  -webkit-animation: roll-in-left 0.6s ease-out both;
	        animation: roll-in-left 0.6s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-23 23:22:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.login__button-container--left {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__welcome-button {
  background-image: url("https://p.kindpng.com/picc/s/217-2172654_text-box-border-decorative-text-box-borders-transparent.png");
  background-position: center;
  background-size: contain;
  font-family: Indie Flower;
  font-size: 2rem;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  margin-top: 3em;
  background-color: white;
  box-shadow: 0px 0px 30px 7px rgba(100, 100, 100, 0.3);
  outline: 1px solid rgba(100, 100, 100, 0.05);
  border: none;
  text-shadow: 0px 0px 4px rgba(250, 250, 4, 0.8);
  -webkit-animation: roll-in-right 0.6s ease-out both;
	        animation: roll-in-right 0.6s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-23 23:27:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}


/* .login__welcome-button:hover {
  -webkit-animation: flip-scale-up-diag-2 0.5s linear both;
  animation: flip-scale-up-diag-2 0.5s linear both;
  transition-timing-function: ease-in-out;
} */

/* ----------------------------------------------
 * Generated by Animista on 2021-1-20 19:14:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-up-diag-2
 * ----------------------------------------
 */
 @-webkit-keyframes flip-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(-1, 1, 0, 180deg);
            transform: scale(2.5) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}
@keyframes flip-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(-1, 1, 0, 180deg);
            transform: scale(2.5) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}
