.login__form-wrapper {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 15% 70% 15%;
}

.login__form-login {
  font-family: Indie Flower;
  font-size: 1.2rem;
  font-weight: 900;
  width: 712px;
  height: 500px;
  position:relative;
  grid-column-start: 2;
  grid-row-start: 2;
}

.login__input-wrapper--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  width: 206px;
  height: 216px;
  color: black;
  margin-top: 236px;
  margin-left: 100px;
  border-radius: 15px;
  padding: 15px;
}

.login__input-wrapper--main > span{
  align-self: center;
  font-size: xx-large;
  font-weight: 900;
}

.login__input--email {
  outline: none;
  border: none;
  background-color: transparent;
  /* box-shadow: 1px 1px 10px 7px beige; */
  /* transition: transform 1s; */
}

.login__input--password {
  outline: none;
  border: none;
  background-color: transparent;
}

.login__input-wrapper--email,
.login__input-wrapper--password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
  
}

.login__input-wrapper--email:hover, 
.login__input-wrapper--password:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 10px 10px beige;
  border: 1px solid black;
  transform: scale(1.25);
  transition-timing-function: ease-in-out;
}

.login__input--email:focus, 
.login__input--password:focus {
  background-color:  rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 10px 10px beige;
  border: 1px solid black;
  transform: scale(1.83);
}

.login__submit-button {
  font-family: Indie Flower;
  font-size: large;
  font-weight: 900;
  width: 40%;
  margin: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  align-self: center;
  text-shadow: 0px 0px 4px rgba(250, 250, 4, 0.8);
  box-shadow: 1px 1px 10px 7px rgba(100, 100, 100, 0.3);
  outline: 1px solid rgba(100, 100, 100, 0.05);
}

.login__button-container--right {
  grid-column-start: 3;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__signup-button {
  background-image: url("https://p.kindpng.com/picc/s/217-2172654_text-box-border-decorative-text-box-borders-transparent.png");
  background-position: center;
  background-size: contain;
  font-family: Indie Flower;
  font-size: 2rem;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  margin-top: 3em;
  background-color: white;
  text-shadow: 0px 0px 4px rgba(250, 250, 4, 0.8);
  box-shadow: 0px 0px 30px 7px rgba(100, 100, 100, 0.3);
  outline: 1px solid rgba(100, 100, 100, 0.05);
  border: none;
}

.login__signup-button:hover {
  -webkit-animation: flip-scale-up-diag-2 0.5s linear both;
  animation: flip-scale-up-diag-2 0.5s linear both;
  transition-timing-function: ease-in-out;
}

.login__button-container--left {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__welcome-button {
  background-image: url("https://p.kindpng.com/picc/s/217-2172654_text-box-border-decorative-text-box-borders-transparent.png");
  background-position: center;
  background-size: contain;
  font-family: Indie Flower;
  font-size: 2rem;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  margin-top: 3em;
  background-color: white;
  box-shadow: 0px 0px 30px 7px rgba(100, 100, 100, 0.3);
  outline: 1px solid rgba(100, 100, 100, 0.05);
  border: none;
  text-shadow: 0px 0px 4px rgba(250, 250, 4, 0.8);
}

.login__welcome-button:hover {
  -webkit-animation: flip-scale-up-diag-2 0.5s linear both;
  animation: flip-scale-up-diag-2 0.5s linear both;
  transition-timing-function: ease-in-out;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-20 19:14:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-up-diag-2
 * ----------------------------------------
 */
 @-webkit-keyframes flip-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(-1, 1, 0, 180deg);
            transform: scale(2.5) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}
@keyframes flip-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(-1, 1, 0, 180deg);
            transform: scale(2.5) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}